[submodule "frontend"]
	path = frontend
	url = git@github.com:YOUXICHUNMI/video-platform-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:YOUXICHUNMI/video-platform-backend.git
